name: Build Wheels

on:
  push:
    tags:
      - '*'
    branches:
      - develop

  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - develop

jobs:
  build-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
    env:
      CIBW_BUILD: cp3*
      CIBW_ARCHS: native
      CIBW_BUILD_FRONTEND: build

      CIBW_BEFORE_ALL_LINUX: |
        set -e
        cat <<'EOF' > /etc/yum.repos.d/lexbor.repo
        [lexbor]
        name=lexbor repo
        baseurl=https://packages.lexbor.com/centos/$releasever/$basearch/
        gpgcheck=0
        enabled=1
        EOF

        yum install -y zlib-devel lz4-devel liblexbor-devel uchardet-devel
      CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014

#      CIBW_ARCHS_MACOS: universal2
      MACOSX_DEPLOYMENT_TARGET: "10.14"
      CIBW_REPAIR_WHEEL_COMMAND_MACOS: >-
        DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-listdeps {wheel} &&
        DYLD_LIBRARY_PATH=$LIBRARY_PATH delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}

#      CIBW_BEFORE_BUILD_WINDOWS: "pip install delvewheel"
#      CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: "delvewheel repair --add-path C:\\vcpkg\\installed\\x64-windows\\lib -w {dest_dir} {wheel}"

      CPATH: /usr/local/share/vcpkg/installed/x64-osx/include
      LIBRARY_PATH: /usr/local/share/vcpkg/installed/x64-osx/lib
      INCLUDE: C:\vcpkg\installed\x64-windows\include
      LIB: C:\vcpkg\installed\x64-windows\lib
      PYTHONPATH: ../resiliparse:../fastwarc
      CIBW_ENVIRONMENT: PYTHONPATH=$PYTHONPATH
      CIBW_TEST_REQUIRES: pytest lz4
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache Vcpkg
        uses: actions/cache@v2
        id: cache-vcpkg
        if: runner.os == 'macOS' || runner.os == 'Windows'
        with:
          path: |
            /usr/local/share/vcpkg/installed
            C:\vcpkg\installed
          key: ${{ runner.os }}-vcpkg-1

      - name: Install Vcpkg Dependencies
        if: (runner.os == 'macOS' || runner.os == 'Windows') && steps.cache-vcpkg.outputs.cache-hit != 'true'
        shell: bash
        run: |
          set -e
          if [ -d /usr/local/share/vcpkg/ports ]; then
            cp -rv .vcpkg/ports/* /usr/local/share/vcpkg/ports
          elif [ -d /c/vcpkg ]; then
            cp -rv .vcpkg/ports/* /c/vcpkg/ports
            export VCPKG_DEFAULT_TRIPLET=x64-windows
          else
            exit 1
          fi

          vcpkg install lz4 lexbor uchardet zlib

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.1.1

      - name: Build FastWARC
        run: python -m cibuildwheel --output-dir wheelhouse fastwarc
        env:
          CIBW_TEST_COMMAND_LINUX: python -m pytest {project}/tests/fastwarc
          CIBW_TEST_COMMAND_MACOS: python -m pytest {project}/tests/fastwarc

      - name: Build Resiliparse
        run: python -m cibuildwheel --output-dir wheelhouse resiliparse
        env:
          CIBW_BEFORE_BUILD: |
            set -e
            PYTHON_ABI="$(python -c "from platform import python_version; print(''.join(python_version().split('.')[:2]))")"
            python -m pip install wheelhouse/FastWARC-*cp$PYTHON_ABI-*.whl
          CIBW_TEST_COMMAND_MACOS: python -m pytest {project}/tests/resiliparse
          CIBW_TEST_COMMAND_LINUX: python -m pytest {project}/tests/resiliparse

      - name: Upload Wheels
        uses: actions/upload-artifact@v2
        with:
          name: wheels
          path: ./wheelhouse/*.whl

  build-sdist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Build Module
        run: python3 -m pip install build

      - name: Build FastWARC Source Dist
        run: python3 -m build --sdist --outdir dist fastwarc

      - name: Build Resiliparse Source Dist
        run: python3 -m build --sdist --outdir dist resiliparse

      - name: Upload Source Dists
        uses: actions/upload-artifact@v2
        with:
          name: sdist
          path: ./dist/*.tar.gz

  build-coverage:
    runs-on: ubuntu-latest
    env:
      DEBUG: "1"
      PYTHONPATH: resiliparse:fastwarc

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Install Dependencies
        run: |
          set -e

          curl -L https://lexbor.com/keys/lexbor_signing.key | sudo apt-key add -
          echo "deb https://packages.lexbor.com/ubuntu/ $(lsb_release -sc) liblexbor" | \
              sudo tee /etc/apt/sources.list.d/lexbor.list

          # Install build dependencies
          sudo apt update -y
          sudo apt install -y zlib1g-dev liblz4-dev libuchardet-dev liblexbor-dev

          # Install test dependencies
          python -m pip install cython pytest pytest-cov lz4

      - name: Build Extensions Inline
        run: |
          set -e
          (cd fastwarc && python setup.py build_ext --inplace && python setup.py install)
          (cd resiliparse && python setup.py build_ext --inplace && python setup.py install)

      - name: Run Tests
        run: python -m pytest --cov=resiliparse/resiliparse --cov=fastwarc/fastwarc --cov-report xml tests/

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  build-documentation:
    runs-on: ubuntu-latest
    needs: build-wheels
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: wheels
          path: wheelhouse

      - name: Build Documentation
        run: |
          set -e

          PYTHON_ABI="$(python -c "from platform import python_version; print('''.join(python_version().split('.')[:2]))")"
          python -m pip install twine
          grep -vE "fastwarc|resiliparse" docs/requirements.txt | xargs python -m pip install
          python -m pip install wheelhouse/*-cp${PYTHON_ABI}-*-manylinux*.whl

          cd docs
          make html

      - name: Trigger Readthedocs Build
        if: github.ref == 'refs/heads/develop'
        uses: dfm/rtds-action@v1
        with:
          webhook_url: ${{ secrets.RTDS_WEBHOOK_URL }}
          webhook_token: ${{ secrets.RTDS_WEBHOOK_TOKEN }}
          commit_ref: ${{ github.ref }}

  publish-wheels:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [ build-wheels, build-sdist, build-coverage, build-documentation ]
    steps:
      - name: Download Wheels
        uses: actions/download-artifact@v2
        with:
          name: wheels

      - name: Download Source Dist
        uses: actions/download-artifact@v2
        with:
          name: sdist

      - name: Publish to PyPi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD1: ${{ secrets.PYPI_FASTWARC_API_TOKEN }}
          TWINE_PASSWORD2: ${{ secrets.PYPI_RESILIPARSE_API_TOKEN }}
        run: |
          set -e

          python3 -m pip install twine

          TWINE_PASSWORD="$TWINE_PASSWORD1" python3 -m twine upload FastWARC-*.whl FastWARC-*.tar.gz
          TWINE_PASSWORD="$TWINE_PASSWORD2" python3 -m twine upload Resiliparse-*.whl Resiliparse-*.tar.gz

      - name: Wait
        run: sleep 30

      - name: Trigger Readthedocs Build
        uses: dfm/rtds-action@v1
        with:
          webhook_url: ${{ secrets.RTDS_WEBHOOK_URL }}
          webhook_token: ${{ secrets.RTDS_WEBHOOK_TOKEN }}
          commit_ref: ${{ github.ref }}
